<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <title>Sim</title>
</head>
<body>
    <py-script>
        def sum(a, b):
            result = a + b 
            return result
    </py-script>
    <style>
        .center {
        text-align: center;
        font-size:xx-large;
        }
    </style>
    <div class="center">
    <py-script>
        
        print("Olá, isso aq é um projeto de calculadora que vai me estressar ")
        print("selecione qual operação deseja fazer")
        <py-button>

        </py-button>>     
        

        
    </py-script>
    </div>
</body>
</html>