<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <title>Sim</title>
</head>
<body> <!-- Creating funcions and importing things --> 
    <py-script>
from js import document
from pyodide import create_proxy

count = 0

def button_click(event):
	global count
 
	count += 1
 
	document.getElementById("msg").innerHTML = 'Button Clicked ' + str(count)

def setup():
	# Create a JsProxy for the callback function
	click_proxy = create_proxy(button_click)
 
	# Set the listener to the callback
	e = document.getElementById("button")
	e.addEventListener("click", click_proxy)

setup()

def sum(a, b):
    result = a + b 
    return result
        
def sub(a, b):
    result = a - b 
    return result 

def mult(a, b):
    result = a * b 
    return result

def div(a, b):
    result = a / b 
    return result

        

    </py-script>
    <style>
        .center {
        text-align: center;
        font-size:xx-large;
        }
    </style>
    <div class="center">
    <py-script>
        
        print("Olá, isso aq é um projeto de calculadora que vai me estressar ")
        print("selecione qual operação deseja fazer")
          
        

        
    </py-script>
     <py-button >
     print("soma")
     on_click(input("a"))
        
    </py-button> 
    </div>
</body>
</html>